@import '../../styles/main';

.card-full-width {
	.card {
		width: 100%;
	}

	.card__img {
		width: 100%;
		height: auto;
		left: auto;
		border-radius: 0;
		margin-bottom: 20px;
		padding-bottom: 56.7%;
	}
}
