//----------  variables
//------------------------------------------------------------------------------

$font-default: Futura, Trebuchet MS, Arial, sans-serif;

// Colors
$white: #fff;
$black: #000;
$grey: #666;
$blue: #007bff;


// Breakpoints
$mobile: '768px';
$tablet: '1024px';
