@import '../../styles/main';

.slider-category__card-wrapper {
	position: relative;
	margin-bottom: 50px;
	.slider-card__wrapper {
		position: relative;
		width: calc(100% + 120px);
		left: -60px;
		max-height: 0;
		padding: 0 60px;
		overflow: hidden;
		transition: $dur $ease;
		margin-left: -10px;
		margin-right: -10px;
		.card {
			display: flex;
			flex-direction: column;
			padding-bottom: 20px;
			height: 100%;
			margin: 0 10px;
		}

		.card__img {
			width: 100%;
			left: auto;
		}

		.card__title,
		.card__text {
			padding: 0 20px;
		}

		
		.slick-track {
			display: flex;
		}

		.slick-slide {
			> div {
				display: flex;
				flex-direction: column;
				min-height: 100%;
			}	
		}

		.slick-arrow {
			position: absolute;
			top: 50%;
			z-index: 1;
			@include max-width($desktop) {
				display: none;
			}
		}

		.slick-prev,
		.slick-next {
			width: 50px;
			height: 50px;
			&::before {
				color: $orange;
				font-size: 50px;
			}
		}

		.slick-prev {
			left: -60px;
		}
		
		.slick-next {
			right: -60px;
		}
	}

	@include max-width($desktop) {
		margin-bottom: 20px;
		.slider-card__wrapper {
			width: 100%;
			left: auto;
			padding: 0;
			margin: 0;
			.card {
				margin: 0;
			}

			.card__title,
			.card__text {
				padding: 0;
			} 
		}
	}
}

.category__card-icon {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	cursor: pointer;
	transition: $dur $ease;
	&::after {
		content: url('../../assets/icons/chevron-down.svg');
	}
}

.category__title {
	display: inline-block;
	font-weight: $bold;
	font-size: 20px;
	color: $dark-grey;
	margin-bottom: 10px;
	transition: $dur $ease;
	&:hover {
		color: rgba($black, .4)
	}
}
