@import '../../styles/main';

.nav {
	display: flex;
	padding: 20px 0;
	justify-content: space-between;
}

.nav__link {
	display: inline-block;
	margin-right: 10px;
	color: $black;
	font-size: 20px;
	&.active {
		color: $blue;
	}
	@include max-width($mobile) {
		font-size: 14px;
	}
}

.nav__lang-btn {
	display: inline-block;
	text-align: center;
	border: 1px solid transparent;
	padding: 5px 20px;
	line-height: 1.5;
	color: $white;
	margin-left: 10px;
	background-color: rgba($blue, 0.6);
	&.nav__lang-btn--active {
		background-color: $blue;
	}

	&.nav__lang-btn--disabled {
		background-color: $grey;
	}
}


