@import '../../styles/main';

.nav {
	display: flex;
	padding: 20px 40px;
	justify-content: space-between;
	margin-bottom: 50px;
	background-color: $white;
	box-shadow: 0 4px 12px -6px rgba(224, 224, 224, 1);
}

.nav__link {
	display: inline-block;
	margin-right: 20px;
	font-size: 18px;
	font-weight: $light;
	color: $black;
	transition: $dur $ease;
	&.active {
		color: $orange;
	}
	&:hover:not(.active) {
		color: rgba($black, .4);
	}
	@include max-width($mobile) {
		font-size: 14px;
	}
}

.nav__lang-btn {
	display: inline-block;
	text-align: center;
	border: 1px solid transparent;
	line-height: 1.5;
	margin-left: 20px;
	background-color: transparent;
	outline: none;
	transition: $dur $ease;
	
	&.nav__lang-btn--active {
		color: $orange;
	}
	
	&.nav__lang-btn--disabled {
		color: $grey;
	}

	&:hover:not(.nav__lang-btn--active) {
		color: rgba($black, .4);
		&.nav__lang-btn--disabled {
			color: $grey;
		}
	}
}

.nav__content-left {
	display: flex;
	align-items: center;
}


