@import './config/reset';
@import './config/variables';
@import './helpers/mixins';

*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-default;
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

.wrapper {
	margin: 0 auto;
	max-width: 1120px;
	padding: 0 20px;
	width: 100%;
	height: 100%;
}

.h1 {
	margin-bottom: 30px;
}

.h2 {
	margin-bottom: 30px;
}
